.home {
    background: linear-gradient(to bottom, #8BC0FF, #6C8AD5);
    height: 100vh;

    color: #fff;
    font-family: 'M PLUS Rounded 1c', sans-serif;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    display: flex;
    justify-content: center;
}

@media (width <= 1200px) {
    .container {
        flex-wrap: wrap;
    }
    .img-books {
        height: 600px;
        width: 560px;
    }
}

.content {
    width: 50%;
}

.yellow-text {
    color: #FFEDB5;
}

.wrapper_social_media {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    width: 50%;
}

.social_media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}