.container-header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 65px;
    width: 85%;
}

.header {
    width: 99%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
}

.img-logo {
    width: 45px;
    height: 45px;
}

button {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 14px;
    color: #fff;

    background: linear-gradient(to right, #D660CC, #9F4CEB);
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-logo {
    width: 140px;
    height: 25px;
}

.btn-login button {
    width: 47%;
    height: 35px;
}

.btn-login {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 150%;
    height: 40px;
}

a {
    text-decoration: none;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 14px;
    color: #fff;
    
}

.line {
    height: 2px;
    width: 100%;

    opacity: 24%;
    background-color: #fff;
}